@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text__primary {
  color: #0d1b48;
}

.text__secondary {
  color: #eee;
}

.text__danger {
  color: #c33c54;
}

.text__warning {
  color: #ffff00;
}

.text__info {
  color: #424767;
}

.text__light {
  color: #ffffff;
}

.text__muted {
  color: #e5e5e5;
}

.container {
  width: 100%;
  padding: 0 0rem;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div {
  flex: 0 0 100%;
  padding: 10px;
}

.col {
  flex: 1;
  padding: 10px;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 528px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 944px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1352px;
  }
}
.row .col-1 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8.3333333333%;
  padding: 10px;
}

.row .col-2 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 16.6666666667%;
  padding: 10px;
}

.row .col-3 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  padding: 10px;
}

.row .col-4 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33.3333333333%;
  padding: 10px;
}

.row .col-5 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 41.6666666667%;
  padding: 10px;
}

.row .col-6 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  padding: 10px;
}

.row .col-7 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 58.3333333333%;
  padding: 10px;
}

.row .col-8 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 66.6666666667%;
  padding: 10px;
}

.row .col-9 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 75%;
  padding: 10px;
}

.row .col-10 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 83.3333333333%;
  padding: 10px;
}

.row .col-11 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 91.6666666667%;
  padding: 10px;
}

.row .col-12 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  padding: 10px;
}

.m-0 {
  margin: 0rem;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2.25rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 3.75rem;
}

.m-6 {
  margin: 4.5rem;
}

.m-7 {
  margin: 5.25rem;
}

.m-8 {
  margin: 6rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 2.25rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 3.75rem;
}

.mt-6 {
  margin-top: 4.5rem;
}

.mt-7 {
  margin-top: 5.25rem;
}

.mt-8 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 2.25rem;
}

.mb-4 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 3.75rem;
}

.mb-6 {
  margin-bottom: 4.5rem;
}

.mb-7 {
  margin-bottom: 5.25rem;
}

.mb-8 {
  margin-bottom: 6rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 2.25rem;
}

.mr-4 {
  margin-right: 3rem;
}

.mr-5 {
  margin-right: 3.75rem;
}

.mr-6 {
  margin-right: 4.5rem;
}

.mr-7 {
  margin-right: 5.25rem;
}

.mr-8 {
  margin-right: 6rem;
}

@media screen and (min-width: 576px) {
  .row .col-sm-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.3333333333%;
    padding: 10px;
  }

  .row .col-sm-2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.6666666667%;
    padding: 10px;
  }

  .row .col-sm-3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    padding: 10px;
  }

  .row .col-sm-4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333333333%;
    padding: 10px;
  }

  .row .col-sm-5 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.6666666667%;
    padding: 10px;
  }

  .row .col-sm-6 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    padding: 10px;
  }

  .row .col-sm-7 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 58.3333333333%;
    padding: 10px;
  }

  .row .col-sm-8 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.6666666667%;
    padding: 10px;
  }

  .row .col-sm-9 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    padding: 10px;
  }

  .row .col-sm-10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.3333333333%;
    padding: 10px;
  }

  .row .col-sm-11 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 91.6666666667%;
    padding: 10px;
  }

  .row .col-sm-12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) {
  .row .col-md-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.3333333333%;
    padding: 10px;
  }

  .row .col-md-2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.6666666667%;
    padding: 10px;
  }

  .row .col-md-3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    padding: 10px;
  }

  .row .col-md-4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333333333%;
    padding: 10px;
  }

  .row .col-md-5 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.6666666667%;
    padding: 10px;
  }

  .row .col-md-6 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    padding: 10px;
  }

  .row .col-md-7 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 58.3333333333%;
    padding: 10px;
  }

  .row .col-md-8 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.6666666667%;
    padding: 10px;
  }

  .row .col-md-9 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    padding: 10px;
  }

  .row .col-md-10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.3333333333%;
    padding: 10px;
  }

  .row .col-md-11 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 91.6666666667%;
    padding: 10px;
  }

  .row .col-md-12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 10px;
  }
}
@media screen and (min-width: 992px) {
  .row .col-lg-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.3333333333%;
    padding: 10px;
  }

  .row .col-lg-2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.6666666667%;
    padding: 10px;
  }

  .row .col-lg-3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    padding: 10px;
  }

  .row .col-lg-4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333333333%;
    padding: 10px;
  }

  .row .col-lg-5 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.6666666667%;
    padding: 10px;
  }

  .row .col-lg-6 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    padding: 10px;
  }

  .row .col-lg-7 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 58.3333333333%;
    padding: 10px;
  }

  .row .col-lg-8 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.6666666667%;
    padding: 10px;
  }

  .row .col-lg-9 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    padding: 10px;
  }

  .row .col-lg-10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.3333333333%;
    padding: 10px;
  }

  .row .col-lg-11 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 91.6666666667%;
    padding: 10px;
  }

  .row .col-lg-12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .row .col-xl-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.3333333333%;
    padding: 10px;
  }

  .row .col-xl-2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.6666666667%;
    padding: 10px;
  }

  .row .col-xl-3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    padding: 10px;
  }

  .row .col-xl-4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333333333%;
    padding: 10px;
  }

  .row .col-xl-5 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.6666666667%;
    padding: 10px;
  }

  .row .col-xl-6 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    padding: 10px;
  }

  .row .col-xl-7 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 58.3333333333%;
    padding: 10px;
  }

  .row .col-xl-8 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.6666666667%;
    padding: 10px;
  }

  .row .col-xl-9 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    padding: 10px;
  }

  .row .col-xl-10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.3333333333%;
    padding: 10px;
  }

  .row .col-xl-11 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 91.6666666667%;
    padding: 10px;
  }

  .row .col-xl-12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 10px;
  }
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.3333333333%;
    padding: 10px;
  }

  .row .col-xxl-2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.6666666667%;
    padding: 10px;
  }

  .row .col-xxl-3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    padding: 10px;
  }

  .row .col-xxl-4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333333333%;
    padding: 10px;
  }

  .row .col-xxl-5 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.6666666667%;
    padding: 10px;
  }

  .row .col-xxl-6 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    padding: 10px;
  }

  .row .col-xxl-7 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 58.3333333333%;
    padding: 10px;
  }

  .row .col-xxl-8 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.6666666667%;
    padding: 10px;
  }

  .row .col-xxl-9 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    padding: 10px;
  }

  .row .col-xxl-10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.3333333333%;
    padding: 10px;
  }

  .row .col-xxl-11 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 91.6666666667%;
    padding: 10px;
  }

  .row .col-xxl-12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 10px;
  }
}
@media screen and (min-width: 576px) {
  .m-sm-0 {
    margin: 0rem;
  }

  .m-sm-1 {
    margin: 0.75rem;
  }

  .m-sm-2 {
    margin: 1.5rem;
  }

  .m-sm-3 {
    margin: 2.25rem;
  }

  .m-sm-4 {
    margin: 3rem;
  }

  .m-sm-5 {
    margin: 3.75rem;
  }

  .m-sm-6 {
    margin: 4.5rem;
  }

  .m-sm-7 {
    margin: 5.25rem;
  }

  .m-sm-8 {
    margin: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .m-md-0 {
    margin: 0rem;
  }

  .m-md-1 {
    margin: 0.75rem;
  }

  .m-md-2 {
    margin: 1.5rem;
  }

  .m-md-3 {
    margin: 2.25rem;
  }

  .m-md-4 {
    margin: 3rem;
  }

  .m-md-5 {
    margin: 3.75rem;
  }

  .m-md-6 {
    margin: 4.5rem;
  }

  .m-md-7 {
    margin: 5.25rem;
  }

  .m-md-8 {
    margin: 6rem;
  }
}
@media screen and (min-width: 992px) {
  .m-lg-0 {
    margin: 0rem;
  }

  .m-lg-1 {
    margin: 0.75rem;
  }

  .m-lg-2 {
    margin: 1.5rem;
  }

  .m-lg-3 {
    margin: 2.25rem;
  }

  .m-lg-4 {
    margin: 3rem;
  }

  .m-lg-5 {
    margin: 3.75rem;
  }

  .m-lg-6 {
    margin: 4.5rem;
  }

  .m-lg-7 {
    margin: 5.25rem;
  }

  .m-lg-8 {
    margin: 6rem;
  }
}
@media screen and (min-width: 1200px) {
  .m-xl-0 {
    margin: 0rem;
  }

  .m-xl-1 {
    margin: 0.75rem;
  }

  .m-xl-2 {
    margin: 1.5rem;
  }

  .m-xl-3 {
    margin: 2.25rem;
  }

  .m-xl-4 {
    margin: 3rem;
  }

  .m-xl-5 {
    margin: 3.75rem;
  }

  .m-xl-6 {
    margin: 4.5rem;
  }

  .m-xl-7 {
    margin: 5.25rem;
  }

  .m-xl-8 {
    margin: 6rem;
  }
}
@media screen and (min-width: 1400px) {
  .m-xxl-0 {
    margin: 0rem;
  }

  .m-xxl-1 {
    margin: 0.75rem;
  }

  .m-xxl-2 {
    margin: 1.5rem;
  }

  .m-xxl-3 {
    margin: 2.25rem;
  }

  .m-xxl-4 {
    margin: 3rem;
  }

  .m-xxl-5 {
    margin: 3.75rem;
  }

  .m-xxl-6 {
    margin: 4.5rem;
  }

  .m-xxl-7 {
    margin: 5.25rem;
  }

  .m-xxl-8 {
    margin: 6rem;
  }
}
.card {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-width: auto;
  min-height: auto;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  border-radius: 4px;
}
.card.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.card.shadow-lg {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
}
.card.card__overlay {
  position: relative;
  padding: 0;
}
.card.card__overlay .card__imgtop {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  transform: scale(0.8);
  cursor: pointer;
}
.card.card__overlay .card__imgtop > a {
  width: 100%;
}
.card.card__overlay .card__body {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0d1b48;
  padding: 10px;
  color: #ffffff;
}
.card.card__overlay .card__imgtop:hover {
  transform: scale(1);
}
.card.card__overlay .card__imgtop:hover + .card__body {
  opacity: 2;
  visibility: visible;
  transition: all 0.1s ease-in-out;
}

.btn, .btn__outline__smoll, .btn__outline, .btn__light, .btn__info, .btn__warning, .btn__danger, .btn__secondary, .btn__primary {
  display: inline-block;
  padding: 1rem 1.6rem;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn::first-letter, .btn__outline__smoll::first-letter, .btn__outline::first-letter, .btn__light::first-letter, .btn__info::first-letter, .btn__warning::first-letter, .btn__danger::first-letter, .btn__secondary::first-letter, .btn__primary::first-letter {
  text-transform: uppercase;
}

.btn- {
  display: inline-block;
  padding: 1rem 1.6rem;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #0d1b48;
  border-radius: 4px;
}
.btn-::first-letter {
  text-transform: uppercase;
}

.btn__primary {
  background-color: #0d1b48;
  border-color: #0d1b48;
  color: #ffffff;
}
.btn__primary:hover {
  background: #050b1d;
  color: #ffffff;
}

.btn__secondary {
  background-color: #eee;
  border-color: #eee;
  color: #ffffff;
}
.btn__secondary:hover {
  background: #d5d5d5;
  color: #ffffff;
}

.btn__danger {
  background-color: #c33c54;
  border-color: #c33c54;
  color: #ffffff;
}
.btn__danger:hover {
  background: #9c3043;
  color: #ffffff;
}

.btn__warning {
  background-color: #ffff00;
  border-color: #ffff00;
  color: #000000;
}
.btn__warning:hover {
  background: #cccc00;
  color: #ffffff;
}

.btn__info {
  background-color: #424767;
  border-color: #424767;
  color: #000000;
}
.btn__info:hover {
  background: #2e3248;
  color: #ffffff;
}

.btn__light {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}
.btn__light:hover {
  background: #e6e6e6;
  color: #ffffff;
  color: #0d1b48;
  background-color: #ffffff;
}

.btn__outline {
  background: transparent;
  border: 1px solid inherit;
  color: inherit;
}

.btn__outline__smoll {
  background: transparent;
  border: 1px solid inherit;
}

.btn-denger {
  background-color: #172755;
  color: #ffffff;
}

.btn__outline__smoll:hover {
  background: #0d1b48;
  color: #ffffff;
}

.animate__up {
  transition: all 0.2s ease;
}

.animate__up:hover {
  transform: translateY(-3px);
}

.animate-up__box {
  transition: all 0.2s ease;
}

.animate-up__box:hover {
  padding: -25px;
  transform: translateY(-10px);
}

.header {
  height: 9rem;
  width: 100%;
  background-color: #0d1b48;
}

.header_landing {
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: #0d1b48;
  width: 100%;
}

header.pinned {
  transform: translateY(0%);
  transition: transform 0.4s;
}

header.unpinned {
  transform: translateY(-100%);
  transition: transform 0.4s;
}

.landing2__header {
  height: 9rem;
  width: 100%;
  background-color: #eee;
}

.landing2_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  gap: 2rem;
  color: #0d1b48;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
}

.navbar,
.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  gap: 2rem;
  color: #ffffff;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
}

.nav__item {
  padding: 7px;
}

.fa-angle-down {
  margin: 0.5rem;
  font-size: 1.4rem;
  transition: 0.3s;
}

.fa-bag-shopping,
.fa-book {
  margin-right: 0.7rem;
}

.nav__item:hover .fa-angle-down {
  transform: rotate(180deg);
  transition: 0.3s;
}

.nav__item:hover .nav__dropdown {
  display: block;
}

.nav__dropdown {
  display: none;
  position: absolute;
  left: -8rem;
  top: 7rem;
  background-color: #ffffff;
  color: #0d1b48;
  width: 550px;
  height: 500px;
  z-index: 1;
  padding: 2rem;
  border-radius: 1rem;
}

.drop__title {
  margin-top: 2.5rem;
}

.drop__link {
  margin-top: 1rem;
  display: block;
  color: #424767;
}
.drop__link:hover {
  color: #c33c54;
}

.nav__logo {
  width: 13rem;
  margin-top: 0.5rem;
}

.nav__menu {
  justify-content: center;
}

.logo__drop {
  left: -6rem;
  top: 6.5rem;
  pointer-events: auto;
}

.btn__docs {
  background: scroll;
}

.footer {
  background-color: #0d1b48;
  height: 70vh;
  width: 100%;
  padding: 7rem 0px;
  text-align: center;
}

.footer__row {
  text-align: start;
}

.footer__col-title {
  color: #ffffff;
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footer__col-link {
  display: block;
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}
.footer__col-link:hover {
  color: #c33c54;
}

.footer__col-btn {
  margin-left: 0.5rem;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #c33c54;
  color: #ffffff;
}

.footer__col-text {
  color: #e5e5e5;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.footer-text {
  color: #ffffff;
  font-size: 1.6rem;
  margin-top: 1.5rem;
}

.footer__title {
  color: #ffffff;
  margin-top: 8rem;
}

.footer__btns {
  display: flex;
  gap: 0.5rem;
}

.footer__btn {
  padding: 0 0.9rem;
  border-radius: 10px;
  background-color: #ffffff;
  color: #0d1b48;
  text-align: start;
}
.footer__btn:hover {
  background-color: #e5e5e5;
}

.footer__btn-row {
  display: flex;
}

.footer__btn-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fa-google-play {
  font-size: 3rem;
}

.fa-apple {
  font-size: 3.7rem;
}

.footer__icon-title {
  font-size: 1.6rem;
}

section.hero {
  position: relative;
  background-color: #0d1b48;
  color: #ffffff;
  padding: 2rem 0;
  text-align: center;
  height: 130vh;
  z-index: 1;
}
section.hero .hero__text {
  color: #ffffff;
}
section.hero .hero__figure {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
section.hero .fill-white {
  fill: #ffffff;
}

.hero__link {
  display: inline-block;
}

.section__title {
  font-size: 3.2rem;
  line-height: 4.2rem;
  color: #0d1b48;
}

.section__subtitle {
  font-size: 2rem;
  line-height: 3.2rem;
  color: #424767;
}

.section__text {
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #424767;
}

.hero__landing {
  background: linear-gradient(90deg, rgba(13, 27, 72, 0.836) 100%, rgba(13, 27, 72, 0.836) 100%), url(https://demo.themesberg.com/bootstrap/spaces/assets/img/hero-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 90vh;
  width: 100%;
  margin-top: -9rem;
}

.hero__about {
  position: relative;
  background: linear-gradient(90deg, rgba(13, 27, 72, 0.836) 100%, rgba(13, 27, 72, 0.836) 100%), url(https://demo.themesberg.com/bootstrap/spaces/assets/img/team-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-top: 9rem;
}
.hero__about .hero__figure {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.hero__about .fill-white {
  fill: #ffffff;
}

.about__title {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}

.hero__subtitle {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.body__title {
  color: #fff;
  font: optional;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.max-width {
  max-width: 70rem;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-color__light {
  background-color: rgb(245, 249, 254);
}

.border-px {
  border: 1px #424767;
}

.logo-icon__brand__blue {
  padding: 2rem;
  font-size: 4.75rem;
  color: #0d1b48;
  border-radius: 50%;
}

.about__team .card__img--top {
  color: rgb(13, 27, 72);
}
.about__team .card__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #424767;
}

.about__team--icons {
  margin-right: 3px;
}

.contact .fw-bolder {
  font-weight: 500;
  color: #000000;
}
.contact .text-center {
  text-align: center;
}
.contact .text-danger {
  color: #c33c54 !important;
}
.contact iframe {
  width: 100%;
}
.contact .fas {
  color: #0d1b48;
}
.contact form .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .socials {
  display: flex;
  justify-content: center;
}
.contact .card-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #424767;
}
.contact .card-title {
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #424767;
}
.contact input[type=text],
.contact textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.contact input[type=submit] {
  width: 100%;
  background-color: #c33c54;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact input[type=submit]:hover {
  background-color: #b32b44;
}
section.hero {
  background-color: #0d1b48;
  color: #ffffff;
  padding: 2rem 0;
  text-align: center;
}
section.hero .hero__text {
  color: #ffffff;
}

.facebook {
  color: #3b5999;
}

.slack {
  color: #3aaf85;
}

.dribbble {
  color: #DB4337;
}

.twitter {
  color: #1da1f2;
}

.team_cards {
  position: relative;
  top: -200px;
  z-index: 10;
}

.team_card {
  border: 1px solid #edf0f7;
  position: relative;
}

.card-img {
  display: flex;
  justify-content: center;
}

.card-img-top {
  position: absolute;
  border-radius: 50%;
  top: -80px;
  text-align: center;
}

.team_card .card-title {
  padding-top: 80px;
}

.members {
  display: flex;
  justify-content: center;
  align-items: center;
}

.members .section__title {
  font-size: 8rem;
  line-height: 4.2rem;
  color: #0d1b48;
  font-weight: 500;
}

.members span {
  display: flex;
  justify-content: center;
}
.members span p {
  margin-top: -25px;
}

.members .col-7 p {
  font-size: 20px;
}

.medias {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

.seeJob {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f9fe !important;
  height: 350px;
  padding-top: 40px;
}
.seeJob .section__text {
  font-size: 20px;
}

.section__title {
  font-size: 3.2rem;
  line-height: 4.2rem;
  color: #0d1b48;
}

.section__subtitle {
  max-width: 75rem;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #424767;
  margin: auto;
}

.section__supertitle {
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #0d1b48;
}

.text-center {
  text-align: center;
}

.section__text {
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #424767;
}

.box-shadow {
  box-shadow: 0 1rem 3rem rgba(13, 27, 72, 0.175) !important;
}

.hero__content {
  margin-top: 5rem;
}

.presentation__content {
  margin-top: -30rem;
  position: relative;
  z-index: 1;
}

.ml-2 {
  margin-left: 2.5rem;
}

.logo-icon__brand {
  padding: 2rem;
  font-size: 4.75rem;
  color: #c33c54;
  border-radius: 50%;
}

.logo-icon__bg {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-Blue {
  color: #424767;
}

.icon-Red {
  color: #c33c54;
}

.icon-yellow {
  color: #ffff00;
}

.text-tertiary {
  color: #52547A;
}

.text-muted {
  color: #52547A;
}

.text-gray {
  color: #424767;
}

.py {
  padding: 10rem;
}

.mapbooks,
.dashboard {
  background-color: rgb(245, 249, 254);
}

.pricing {
  background-color: #1c68c4;
}

.mapbooks .container .row {
  justify-content: space-between;
}

.dashboard .container .row {
  justify-content: space-between;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.navbar {
  z-index: 3;
}

.suptitle {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 3.2rem;
  color: #424767;
}

.text-primary,
.text-primary:hover {
  color: #0d1b48 !important;
}

.text-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #424767;
}

.awesome {
  background-color: #0d1b48;
}

.lead {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  text-align: center;
  color: #ffffff;
}

.h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
}

.d-lg-none {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: #0d1b48;
}

.bg-white {
  background-color: #ffffff;
}

.rounded {
  border-radius: 10px;
}

.text-secondary {
  color: #c33c54;
}

.accardion-row {
  justify-content: space-between;
}

.accordion {
  background-color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid #0d1b48;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.fa-plus {
  float: right;
}

.active,
.accordion:hover {
  background-color: #f5f9fe;
}

.panel {
  border: 1px solid #0d1b48;
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
