.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

$btnColor: (
  "primary": $mainBlue,
  "secondary": $secondary,
  "danger": $mainRed,
  "warning": $mainYellow,
  "info": $secondaryBlue,
  "light": $mainWhite,
);

@each $type in (primary, secondary, danger, warning, info, light) {
  .btn__#{$type} {
    @extend .btn;
    background-color: map-get($btnColor, $type);
    border-color: map-get($btnColor, $type);
    &:hover {
      background: darken($color: map-get($btnColor, $type), $amount: 10%);
      color: $mainWhite;
    }
    @if $type == light {
      color: $mainBlack;
    } @else if $type == info {
      color: $mainBlack;
    } @else if $type == warning {
      color: $mainBlack;
    } @else {
      color: $mainWhite;
    }
  }
}

.btn__outline {
  @extend .btn;
  background: transparent;
  border: 1px solid inherit;
  color: inherit;
}
