.btn {
  display: inline-block;
  padding: 1rem 1.6rem;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  &::first-letter {
    text-transform: uppercase;
  }
}

.btn- {
  display: inline-block;
  padding: 1rem 1.6rem;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid $mainBlue;
  border-radius: 4px;
  &::first-letter {
    text-transform: uppercase;
  }
}
$btnColor: (
  "primary": $mainBlue,
  "secondary": $secondary,
  "danger": $mainRed,
  "warning": $mainYellow,
  "info": $secondaryBlue,
  "light": $mainWhite,
);

@each $type in (primary, secondary, danger, warning, info, light) {
  .btn__#{$type} {
    @extend .btn;
    background-color: map-get($btnColor, $type);
    border-color: map-get($btnColor, $type);
    &:hover {
      background: darken($color: map-get($btnColor, $type), $amount: 10%);
      color: $mainWhite;
      @if $type == light {
        color: $mainBlue;
        background-color: $mainWhite;
      }
    }
    @if $type == light {
      color: $mainBlack;
    } @else if $type == info {
      color: $mainBlack;
    } @else if $type == warning {
      color: $mainBlack;
    } @else {
      color: $mainWhite;
    }
  }
}

.btn__outline {
  @extend .btn;
  background: transparent;
  border: 1px solid inherit;
  color: inherit;
}
.btn__outline__smoll{
  @extend .btn;
  background: transparent;
  border: 1px solid inherit;
  
}
.btn__outline__smoll:hover{
  background: $mainBlue;
  color: $mainWhite;
}
 
.animate__up {
  transition: all 0.2s ease;
}

.animate__up:hover {
  transform: translateY(-3px);
}
.animate-up__box {
  transition: all 0.2s ease;
}
.animate-up__box:hover {
  padding: -25px;
  transform: translateY(-10px);
}
