.hero__about {
  background: linear-gradient(
      90deg,
      rgba(13, 27, 72, 0.836) 100%,
      rgba(13, 27, 72, 0.836) 100%
    ),
    url(https://demo.themesberg.com/bootstrap/spaces/assets/img/team-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-top: 9rem;
}
