.hero__landing {
  background: linear-gradient(
      90deg,
      rgba(13, 27, 72, 0.836) 100%,
      rgba(13, 27, 72, 0.836) 100%
    ),
    url(https://demo.themesberg.com/bootstrap/spaces/assets/img/hero-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 90vh;
  width: 100%;
  margin-top: -9rem;
}
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(13,27,72,0);
--blue: #0056B3;
--indigo: #6610f2;
--pink: #e83e8c;
--red: #be2837;
--orange: #fd7e14;
--yellow: #F0B400;
--green: #208163;
--teal: #0056B3;
--cyan: #17a2b8;
--gray-dark: #4E5079;
--primary: #0d1b48;
--secondary: #C33C54;
--success: #208163;
--info: #0056B3;
--warning: #F0B400;
--danger: #be2837;
--light: #edf0f7;
--dark: #0d1b48;
--tertiary: #26408B;
--lighten: #ffffff;
--white: #ffffff;
--gray: #424767;
--neutral: #ffffff;
--soft: #f5f9fe;
--black: #0d1b48;
--purple: #6f42c1;
--soft-green: #ebf9ee;
--gray-100: #ffffff;
--gray-200: #fafbfe;
--gray-300: #f5f9fe;
--gray-400: #edf0f7;
--gray-500: #B7C3D2;
--gray-600: #93a5be;
--gray-700: #52547a;
--gray-800: #4E5079;
--facebook: #3b5999;
--twitter: #1da1f2;
--google: #DB4337;
--instagram: #e4405f;
--pinterest: #bd081c;
--youtube: #cd201f;
--slack: #3aaf85;
--dribbble: #ea4c89;
--dropbox: #1E90FF;
--twitch: #4B367C;
--paypal: #ecb32c;
--behance: #0057ff;
--reddit: #E84422;
--github: #222222;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
box-sizing: border-box;
margin: 0;
font-family: Poppins,sans-serif;
font-size: 1rem;
font-weight: 300;
line-height: 1.5;
color: #424767;
text-align: left;
background-color: #fff;