@mixin box {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-width: auto;
  min-height: auto;
}
@mixin flexbox(
  $fd: row,
  $jc: flex-start,
  $ai: stretch,
  $fw: nowrap,
  $istalgan...
) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: nowrap;
}

@mixin mediaquery($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
