$mainWhite: #ffffff;
$mainBlack: #000000 !default;
$mainRed: #c33c54;
$secondary: #eee;
$secondaryWhite: #e5e5e5;
$mainGreen: #00ff00;
$mainBlue: #0d1b48;
$mainYellow: #ffff00;
$secondaryBlue: #424767;
$gridGutter: 30px;
$gridColumns: 12;
$spacingCount: 8;
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-lg: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
$mainFont: "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
// $gridColumnWidth: (100% / $gridColumns);
// $gridColumnWidthMinusGutter: ($gridColumnWidth - $gridGutter);
// $gridColumnWidthMinusGutterMinusGutter: (
//   $gridColumnWidthMinusGutter - $gridGutter
// );
// $gridColumnWidthMinusGutterMinusGutterMinusGutter: (
//   $gridColumnWidthMinusGutterMinusGutter - $gridGutter
// );
