$mainWhite: #ffffff;
$mainBlack: #000000 !default;
$mainRed: #ff0000;
$mainGreen: #00ff00;
$mainBlue: #0000ff;
$gridGutter: 30px;
$gridColumns: 12;
$spacingCount: 5;
// $gridColumnWidth: (100% / $gridColumns);
// $gridColumnWidthMinusGutter: ($gridColumnWidth - $gridGutter);
// $gridColumnWidthMinusGutterMinusGutter: (
//   $gridColumnWidthMinusGutter - $gridGutter
// );
// $gridColumnWidthMinusGutterMinusGutterMinusGutter: (
//   $gridColumnWidthMinusGutterMinusGutter - $gridGutter
// );
